<link rel="stylesheet" type="text/css" href="stylesheets/saga.scss">
<div class="headerimage-furape">
</div>
  <main>
    <h1 class="bigheader-furape">
        ながさき<br/></h1>
<h2 class="header-vanila">バニラクリームフラペチーノ</h2>
<div class="vanila-top">
    <div class="vanila-1">
    <img src="itosima.jpg">
        <h3 class="sitanisuru"><br/>チョコを感じたい方！</h3>
        <p class="setumei">チョコレートチップ追加<br/>チョコレートソース追加</p>
    </div>
    <div class="vanila-2">
        <h3 class="sitanisuru"><br/>甘いものでリラックスしたい方！</h3>
        <p class="setumei">ホワイトモカシロップ変更<br/>蜂蜜蜂蜜トッピング</p>
    </div>
     <div class="vanila-3">
        <h3 class="sitanisuru"><br/>ショットを追加して大人に！！</h3>
        <p class="setumei">エスプレッソショット追加<br/>キャラメルソーストッピング</p>
    </div>
 </div>
    <h2 class="header-maccha">抹茶クリームフラペチーノ</h2>
<div class="maccha-top">
    <div class="maccha-1">
    　　<h3 class="sitanisuru"><br/>抹茶とホワイトチョコの組み合わせ！</h3>
        <p class="setumei">ホワイトモカシロップ変更<br/>抹茶パウダー増量<br/>チョコレートソース追加</p>
    </div>
    <div class="maccha-2">
    　　<h3 class="sitanisuru"><br/>甘いものでリラックスしたい方！</h3>
    　　<p class="setumei">ホワイトモカシロップ変更<br/>蜂蜜蜂蜜トッピング</p>
　　</div>
    <div class="maccha-3">
    　　<h3 class="sitanisuru"><br/>甘いものでリラックスしたい方！</h3>
        <p class="setumei">ホワイトモカシロップ変更<br/>蜂蜜蜂蜜トッピング</p>
    </div>
     </div>
     <h2 class="header-choco">ダークモカチップフラペチーノ</h2>
     <div class="choco-top">
         <div class="choco-1">
            <h3 class="sitanisuru"><br/>甘いものでリラックスしたい方！</h3>
            <p class="setumei">ホワイトモカシロップ変更<br/>蜂蜜蜂蜜トッピング</p>
        </div>
         <div class="choco-2">
            <h3 class="sitanisuru"><br/>甘いものでリラックスしたい方！</h3>
            <p class="setumei">ホワイトモカシロップ変更<br/>蜂蜜蜂蜜トッピング</p>
        </div>
         <div class="choco-3">
            <h3 class="sitanisuru"><br/>甘いものでリラックスしたい方！</h3>
            <p class="setumei">ホワイトモカシロップ変更<br/>蜂蜜蜂蜜トッピング</p>
        </div>
          </div>