.headerimage-furape1{
    background-image: url(sakurazima.jpg);
    background-size: cover;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0%;
    z-index: -10;
    margin: 0 0 0.5rem;
  }
  .bigheader-furape1{
    justify-content: center;
    text-align: center;
    line-height: normal;
    display: inline-block;
    padding: 20px 20px;
    margin: 180px 474px 700px 474px;
    width: 600px;
    position: relative;
    top: 650px;
  }
/*バニラクリームフラペチーノ*/
  .header-vanila1{
    text-align: center;
    margin-bottom: 7%;
  }
  .vanila-top1{
    display: flex;
  }
  .vanila-11 {
    background-size: cover;
    background-image: url(beppuonnsenn.jpg);
    height: 350px;
    width: 33%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    text-align: center;
  }
  .setumei1{
    margin-top: 15px;
  }
  .vanila-21 {
    background-size: cover;
    background-image: url(furape-vanila);
    height: 350px;
    width: 33%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    text-align: center;
  }
  .vanila-31 {
    background-size: cover;
    background-image: url(furape-vanila);
    height: 350px;
    width: 33%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    text-align: center;
  }
  .sitanisuru1{
    margin-top: 350px;
  }
/*抹茶クリームフラペチーノ*/
.header-maccha1{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 5%;
}
.maccha-top1{
  display: flex;
}
.maccha-11 {
  background-size: cover;
  background-image: url(furape-maccha.png);
  height: 350px;
  width: 33%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  text-align: center;
}
.maccha-21 {
  background-size: cover;
  background-image: url(furape-maccha.png);
  height: 350px;
  width: 33%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  text-align: center;
}
.maccha-31 {
  background-size: cover;
  background-image: url(furape-maccha.png);
  height: 350px;
  width: 33%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  text-align: center;
}
.sitanisuru1{
  margin-top: 350px;
}
/*ダークモカチップフラペチーノ*/
.header-choco1{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 5%;
}
.choco-top1{
  display: flex;
}
.choco-11 {
  background-size: cover;
  background-image: url(furape-choco);
  height: 350px;
  width: 33%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  text-align: center;
}
.choco-21 {
  background-size: cover;
  background-image: url(furape-choco);
  height: 350px;
  width: 33%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  text-align: center;
}
.choco-31 {
  background-size: cover;
  background-image: url(furape-choco);
  height: 350px;
  width: 33%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  text-align: center;
}
.sitanisuru1{
  margin-top: 350px;
}
